   .mainArea {
    display:flex;
    justify-content: center;
    background: #fff;
    margin: 0 auto;
    width: 500px;
    padding: 100px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  }